/* src/index.css */
@tailwind base;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Nunito:wght@300;400;600;700&display=swap');

/* PrimeReact Styles */
@import 'primereact/resources/themes/lara-light-blue/theme.css';
@import 'primereact/resources/primereact.min.css';
@import 'primeicons/primeicons.css';
@import 'primeflex/primeflex.css';

@tailwind components;
@tailwind utilities;

html, body, #root {
    height: 100%;
}

.p-icon-field {
    width: 100%;
}